WEATHER-DASHBOARD.json
[{"id":"3a0652df.04832e","type":"tab","label":"Weather Dashboard","disabled":false,"info":""},{"id":"496ad60d.ca7028","type":"openweathermap","z":"3a0652df.04832e","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":2490,"y":800,"wires":[["508f9ff4.3a83","24334cc2.e92c34"]]},{"id":"a54c56bc.e410f8","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"location.lon","pt":"msg","to":"payload.A","tot":"msg"},{"t":"set","p":"location.lat","pt":"msg","to":"payload.B","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2300,"y":800,"wires":[["496ad60d.ca7028"]]},{"id":"508f9ff4.3a83","type":"debug","z":"3a0652df.04832e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2690,"y":800,"wires":[]},{"id":"75fe0901.057768","type":"ui_text_input","z":"3a0652df.04832e","name":"","label":"city / longitude","tooltip":"","group":"d1322d3a.5cf3b","order":3,"width":4,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"A","x":1740,"y":380,"wires":[["11010c50.f8a504","b83d6227.622d9"]]},{"id":"a092230c.26bc9","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"selected","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2500,"y":420,"wires":[[]]},{"id":"eb97bc7e.0c621","type":"ui_button","z":"3a0652df.04832e","name":"","group":"d1322d3a.5cf3b","order":5,"width":4,"height":1,"passthru":true,"label":"SUBMIT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1420,"y":640,"wires":[["f03be576.8c8388","991a5f65.fd32e","c6b164e1.cec238","6996b74e.683088"]]},{"id":"f03be576.8c8388","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"selected","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1720,"y":720,"wires":[["7d21423d.1da7dc"]]},{"id":"a1f87375.0656b","type":"debug","z":"3a0652df.04832e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2690,"y":640,"wires":[]},{"id":"7b3b7a56.764db4","type":"join","z":"3a0652df.04832e","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2290,"y":420,"wires":[["a092230c.26bc9","e6f3c8da.9ffd08"]]},{"id":"11e9ff97.434d9","type":"openweathermap","z":"3a0652df.04832e","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":2490,"y":640,"wires":[["a1f87375.0656b","24334cc2.e92c34"]]},{"id":"bf5c7bab.5e3988","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"location.city","pt":"msg","to":"payload.A","tot":"msg"},{"t":"set","p":"location.country","pt":"msg","to":"payload.B","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2300,"y":640,"wires":[["11e9ff97.434d9"]]},{"id":"d809deed.a0116","type":"ui_dropdown","z":"3a0652df.04832e","name":"","label":"Select whether you enter cordinate as city/country or cordinates","tooltip":"","place":"Select option","group":"4fffcb4a.478234","order":1,"width":10,"height":3,"passthru":true,"multiple":false,"options":[{"label":"country,city","value":"T","type":"str"},{"label":"in coordinates","value":"F","type":"str"}],"payload":"","topic":"","x":1550,"y":220,"wires":[["9d737219.99be7","a041d804.84ca78"]]},{"id":"e10c1d0c.d20b8","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2080,"y":360,"wires":[["7b3b7a56.764db4"]]},{"id":"11010c50.f8a504","type":"switch","z":"3a0652df.04832e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^[+-]?\\d+$","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1890,"y":380,"wires":[["e10c1d0c.d20b8"],["7b3b7a56.764db4"]]},{"id":"3d59879b.6c83f8","type":"switch","z":"3a0652df.04832e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^[+-]?\\d+$","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1890,"y":460,"wires":[["71f76abb.edf734"],["7b3b7a56.764db4"]]},{"id":"71f76abb.edf734","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2080,"y":480,"wires":[["7b3b7a56.764db4"]]},{"id":"c4a7e510.4db508","type":"switch","z":"3a0652df.04832e","name":"","property":"payload12","propertyType":"global","rules":[{"t":"eq","v":"T","vt":"str"},{"t":"eq","v":"F","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2110,"y":720,"wires":[["bf5c7bab.5e3988"],["a54c56bc.e410f8"]]},{"id":"a8817c3b.fad09","type":"ui_gauge","z":"3a0652df.04832e","name":"","group":"81358240.6f20f","order":2,"width":6,"height":3,"gtype":"compass","title":"wind direction","label":"degrees","format":"{{value}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2240,"y":920,"wires":[]},{"id":"c78c0357.8dcc8","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload13.winddirection","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":920,"wires":[["a8817c3b.fad09"]]},{"id":"e7937b11.54d418","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload13.windspeed","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"Wind speed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":1200,"wires":[["69a40494.0d35bc","a3e07d87.b2a5b","d7057c9b.29c3a"]]},{"id":"69a40494.0d35bc","type":"ui_gauge","z":"3a0652df.04832e","name":"","group":"81358240.6f20f","order":1,"width":6,"height":3,"gtype":"gage","title":"wind speed","label":"km/h","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2230,"y":1200,"wires":[]},{"id":"65c147d8.873d58","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload13.tempc","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":960,"wires":[["44650c5f.a73804","a341b37d.74f66","f429e5f0.a51748"]]},{"id":"f429e5f0.a51748","type":"ui_gauge","z":"3a0652df.04832e","name":"","group":"8e487881.7664e8","order":1,"width":4,"height":3,"gtype":"wave","title":"temperature","label":"c","format":"{{value}}","min":"-50","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2450,"y":960,"wires":[]},{"id":"9d737219.99be7","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"payload12","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":160,"wires":[[]]},{"id":"b90deda0.f58f9","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload13.sunrise","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":1280,"wires":[["a2d16044.2d962"]]},{"id":"23a20c10.956134","type":"ui_text","z":"3a0652df.04832e","group":"a002c75f.5e7228","order":5,"width":6,"height":1,"name":"sunrise time","label":"sunrise","format":"{{msg.payload}}","layout":"row-spread","x":2650,"y":1280,"wires":[]},{"id":"95785e20.1a6d7","type":"ui_text","z":"3a0652df.04832e","group":"a002c75f.5e7228","order":4,"width":6,"height":1,"name":"","label":"sunset","format":"{{msg.payload}}","layout":"row-spread","x":2630,"y":1320,"wires":[]},{"id":"56dca7c0.b68088","type":"moment","z":"3a0652df.04832e","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Oslo","adjAmount":"4.5","adjType":"hours","adjDir":"add","format":"HH:mm:ss","locale":"en_US","output":"payload","outputType":"msg","outTz":"Europe/Oslo","x":2420,"y":1280,"wires":[["23a20c10.956134"]]},{"id":"8358d682.754458","type":"moment","z":"3a0652df.04832e","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Oslo","adjAmount":"4.5","adjType":"hours","adjDir":"add","format":"HH:mm:ss","locale":"en_US","output":"payload","outputType":"msg","outTz":"Europe/Oslo","x":2420,"y":1320,"wires":[["95785e20.1a6d7"]]},{"id":"93809ba.6eec268","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload13.humidity","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"humidity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":1120,"wires":[["71c7fefc.1920b","fb1a1e48.61c0a","d188a88a.e22aa8"]]},{"id":"53a851f.af039b","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload13.pressure","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"pressure","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":1040,"wires":[["efbc19d4.3a9ca8"]]},{"id":"71c7fefc.1920b","type":"ui_gauge","z":"3a0652df.04832e","name":"","group":"9de85e.ade327a","order":1,"width":5,"height":3,"gtype":"gage","title":"humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2220,"y":1120,"wires":[]},{"id":"17234ec.1d789b1","type":"ui_gauge","z":"3a0652df.04832e","name":"","group":"6317eb87.ae11a4","order":1,"width":5,"height":3,"gtype":"wave","title":"pressure","label":"atm","format":"{{value}}","min":0,"max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2360,"y":1040,"wires":[]},{"id":"c577a76b.bf3298","type":"ui_text","z":"3a0652df.04832e","group":"a002c75f.5e7228","order":1,"width":2,"height":1,"name":"Name","label":"","format":"{{msg.payload}}","layout":"row-center","x":1910,"y":600,"wires":[]},{"id":"2a6e09dd.ad82c6","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"selected1.location","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":600,"wires":[["c577a76b.bf3298"]]},{"id":"69e0790e.895ff8","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload13.sunset","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":1320,"wires":[["c598a512.d39548"]]},{"id":"f2718564.0d3748","type":"ui_button","z":"3a0652df.04832e","name":"","group":"4fffcb4a.478234","order":4,"width":1,"height":1,"passthru":false,"label":"","tooltip":"default refresh time = 30s","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"num","topic":"","x":1550,"y":860,"wires":[["39459356.f8544c","37fc8a08.5e6546"]]},{"id":"602c93f8.1a183c","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"delay","pt":"flow","to":"t","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1580,"y":1080,"wires":[[]]},{"id":"39459356.f8544c","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"delay","pt":"msg","to":"delay","tot":"flow"},{"t":"set","p":"payload13","pt":"msg","to":"selected1","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1580,"y":920,"wires":[["5ccbb60b.e86868","39651692.f450da"]]},{"id":"5ccbb60b.e86868","type":"debug","z":"3a0652df.04832e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"delay","targetType":"msg","statusVal":"","statusType":"auto","x":1790,"y":920,"wires":[]},{"id":"1840d4fc.85460b","type":"function","z":"3a0652df.04832e","name":"","func":"let time = msg.payload;\n\nreturn {\n    t:time*1000\n    \n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1560,"y":1020,"wires":[["602c93f8.1a183c","8c91ef90.a8cc5"]]},{"id":"8c91ef90.a8cc5","type":"debug","z":"3a0652df.04832e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"t","targetType":"msg","statusVal":"","statusType":"auto","x":1770,"y":1020,"wires":[]},{"id":"d188a88a.e22aa8","type":"ui_chart","z":"3a0652df.04832e","name":"","group":"164c5aec.768575","order":1,"width":16,"height":8,"label":"Humidity","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2220,"y":1420,"wires":[["a75a2af.cf206d8"]]},{"id":"a75a2af.cf206d8","type":"ui_ui_control","z":"3a0652df.04832e","name":"","x":2380,"y":1420,"wires":[[]]},{"id":"46a1b73b.730008","type":"ui_switch","z":"3a0652df.04832e","name":"","label":"switch","tooltip":"","group":"b37c0d8c.9b908","order":1,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"tabs\": {\"show\": \"Charts\", \"disable\": [\"secret_tab\", \"unused_stuff\"]}}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"tabs\": {\"hide\": \"Charts\", \"disable\": [\"secret_tab\", \"unused_stuff\"]}}","offvalueType":"json","officon":"","offcolor":"","x":2370,"y":1360,"wires":[["a75a2af.cf206d8"]]},{"id":"c598a512.d39548","type":"json","z":"3a0652df.04832e","name":"","property":"payload","action":"str","pretty":true,"x":2210,"y":1320,"wires":[["8358d682.754458"]]},{"id":"a2d16044.2d962","type":"json","z":"3a0652df.04832e","name":"","property":"payload","action":"str","pretty":true,"x":2210,"y":1280,"wires":[["56dca7c0.b68088"]]},{"id":"308388b0.647958","type":"ui_dropdown","z":"3a0652df.04832e","name":"","label":"Warning ","tooltip":"","place":"Select option","group":"a588de01.cc2ec","order":1,"width":6,"height":1,"passthru":false,"multiple":false,"options":[{"label":"temperature (c)","value":60,"type":"num"},{"label":"pressure (atm)","value":2,"type":"num"},{"label":"humidity (%)","value":100,"type":"num"},{"label":"windspeed (km/h)","value":40,"type":"num"}],"payload":"","topic":"","x":1600,"y":1580,"wires":[["dd5c5a1a.71af78"]]},{"id":"f4ef26.4ba8e0d8","type":"ui_slider","z":"3a0652df.04832e","name":"","label":"max_value","tooltip":"","group":"a588de01.cc2ec","order":2,"width":6,"height":1,"passthru":false,"outs":"end","topic":"","min":0,"max":"50","step":"0.1","x":1950,"y":1500,"wires":[["b8422860.180828"]]},{"id":"7eabfe9e.3a565","type":"join","z":"3a0652df.04832e","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2050,"y":1960,"wires":[["2aa9fcaa.c2fa44"]]},{"id":"2aa9fcaa.c2fa44","type":"switch","z":"3a0652df.04832e","name":"","property":"payload.t","propertyType":"msg","rules":[{"t":"lt","v":"payload.temp","vt":"msg"},{"t":"gte","v":"payload.temp","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":2230,"y":1960,"wires":[["776019c5.e8de48","cd654c96.d1dcf"],[]]},{"id":"fad24b5d.a5f478","type":"ui_button","z":"3a0652df.04832e","name":"","group":"a588de01.cc2ec","order":4,"width":2,"height":1,"passthru":false,"label":"Set","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":1630,"y":1840,"wires":[["44f899bc.ce7a58","285088e2.2d3e68","f54b649c.2f2b08","3d4d6e89.ee07c2","d3a71437.6f4d38"]]},{"id":"dd5c5a1a.71af78","type":"function","z":"3a0652df.04832e","name":"","func":"if (msg.payload === 60) {\n   msg.topic = \"t\";\n   msg.ui_control={max:msg.payload,min:-50};\n   \n} else if (msg.payload === 2) {\n   msg.topic = \"p\";\n   msg.ui_control={max:msg.payload,min:0};\n   \n} else if (msg.payload === 100) {\n   msg.topic = \"h\";\n   msg.ui_control={max:msg.payload,min:0};\n   \n} else if (msg.payload === 40) {\n   msg.topic = \"w\";\n   msg.ui_control={max:msg.payload,min:0};\n   \n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1760,"y":1580,"wires":[["f4ef26.4ba8e0d8","6d4f8296.15b0bc"]]},{"id":"6d4f8296.15b0bc","type":"function","z":"3a0652df.04832e","name":"","func":"let t = msg.topic;\n\nreturn {\n    t\n    \n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1960,"y":1580,"wires":[["9ba11257.c9848"]]},{"id":"9ba11257.c9848","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"last","pt":"flow","to":"t","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2110,"y":1580,"wires":[[]]},{"id":"1507ff0.7bd8701","type":"function","z":"3a0652df.04832e","name":"","func":"let tp = msg.t;\nlet vl = msg.payload;\n\n\nvar newMsg = { payload:vl, topic:tp };\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1760,"y":1980,"wires":[["d352df2e.20e49"]]},{"id":"44f899bc.ce7a58","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"t","pt":"msg","to":"last","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"maxv","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":1980,"wires":[["1507ff0.7bd8701"]]},{"id":"d352df2e.20e49","type":"switch","z":"3a0652df.04832e","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"t","vt":"str"},{"t":"eq","v":"p","vt":"str"},{"t":"eq","v":"h","vt":"str"},{"t":"eq","v":"w","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1890,"y":1980,"wires":[["7eabfe9e.3a565"],["37ca9e73.0968c2"],["3be75023.833b6"],["123ec2d.33f7c3d"]]},{"id":"b8422860.180828","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"maxv","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2120,"y":1500,"wires":[[]]},{"id":"44650c5f.a73804","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"datat","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2230,"y":1000,"wires":[[]]},{"id":"9b5110cf.51448","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"datap","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2380,"y":1080,"wires":[[]]},{"id":"fb1a1e48.61c0a","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"datah","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2240,"y":1160,"wires":[[]]},{"id":"a3e07d87.b2a5b","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"dataw","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2240,"y":1240,"wires":[[]]},{"id":"285088e2.2d3e68","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"selected1.tempc","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"temp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1860,"y":1900,"wires":[["7eabfe9e.3a565"]]},{"id":"e6f3c8da.9ffd08","type":"debug","z":"3a0652df.04832e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2410,"y":480,"wires":[]},{"id":"24334cc2.e92c34","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"selected1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2730,"y":720,"wires":[[]]},{"id":"475f5bc9.86b774","type":"debug","z":"3a0652df.04832e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload13","targetType":"msg","statusVal":"","statusType":"auto","x":2060,"y":800,"wires":[]},{"id":"7d21423d.1da7dc","type":"trigger","z":"3a0652df.04832e","name":"","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"-3","extend":false,"overrideDelay":true,"units":"s","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":1920,"y":720,"wires":[["c4a7e510.4db508","12fd1c1f.78c824"]]},{"id":"d52b66f.4c12b98","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"payload13","pt":"msg","to":"selected1","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":800,"wires":[["39651692.f450da"]]},{"id":"39651692.f450da","type":"trigger","z":"3a0652df.04832e","name":"","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"-30","extend":false,"overrideDelay":true,"units":"s","reset":"0","bytopic":"all","topic":"topic","outputs":1,"x":1810,"y":800,"wires":[["c78c0357.8dcc8","e7937b11.54d418","65c147d8.873d58","93809ba.6eec268","53a851f.af039b","b90deda0.f58f9","69e0790e.895ff8","475f5bc9.86b774"]]},{"id":"37fc8a08.5e6546","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"delay","pt":"msg","to":"delay","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"selected","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1720,"y":760,"wires":[["7d21423d.1da7dc"]]},{"id":"df9ad5a2.270208","type":"ui_toast","z":"3a0652df.04832e","position":"dialog","displayTime":"10","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2590,"y":1960,"wires":[[]]},{"id":"2f027d6.2928b82","type":"ui_audio","z":"3a0652df.04832e","name":"","group":"a002c75f.5e7228","voice":"Microsoft David - English (United States)","always":true,"x":2920,"y":1020,"wires":[]},{"id":"9b29aa8c.eb42e8","type":"ui_button","z":"3a0652df.04832e","name":"","group":"a002c75f.5e7228","order":6,"width":6,"height":1,"passthru":true,"label":"AUDIO","tooltip":"","color":"","bgcolor":"","icon":"speaker","payload":"true","payloadType":"str","topic":"","x":2580,"y":1020,"wires":[["95c3aa18.9f1368"]]},{"id":"95c3aa18.9f1368","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"selected1.description","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2740,"y":1020,"wires":[["2f027d6.2928b82"]]},{"id":"37ca9e73.0968c2","type":"join","z":"3a0652df.04832e","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2050,"y":2000,"wires":[["8c939c5d.a95ed"]]},{"id":"8c939c5d.a95ed","type":"switch","z":"3a0652df.04832e","name":"","property":"payload.p","propertyType":"msg","rules":[{"t":"lt","v":"payload.pres","vt":"msg"},{"t":"gte","v":"payload.pres","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":2230,"y":2000,"wires":[["915f164f.7c8488","be7eddd.74a592"],[]]},{"id":"f54b649c.2f2b08","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"selected1.pressure","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"pres","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1860,"y":1860,"wires":[["37ca9e73.0968c2"]]},{"id":"3d4d6e89.ee07c2","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"selected1.humidity","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"humi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1860,"y":1820,"wires":[["3be75023.833b6"]]},{"id":"d3a71437.6f4d38","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"selected1.windspeed","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"wind","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1860,"y":1780,"wires":[["123ec2d.33f7c3d"]]},{"id":"f91fc02f.f27be","type":"ui_toast","z":"3a0652df.04832e","position":"dialog","displayTime":"10","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2590,"y":2000,"wires":[[]]},{"id":"3be75023.833b6","type":"join","z":"3a0652df.04832e","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2050,"y":2040,"wires":[["c1ad9806.e92558"]]},{"id":"c1ad9806.e92558","type":"switch","z":"3a0652df.04832e","name":"","property":"payload.h","propertyType":"msg","rules":[{"t":"lt","v":"payload.humi","vt":"msg"},{"t":"gte","v":"payload.humi","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":2230,"y":2040,"wires":[["9a7e9cf8.e941f","efd8e79a.136e18"],[]]},{"id":"d694f259.e5f9e","type":"ui_toast","z":"3a0652df.04832e","position":"dialog","displayTime":"10","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2590,"y":2040,"wires":[[]]},{"id":"123ec2d.33f7c3d","type":"join","z":"3a0652df.04832e","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2050,"y":2080,"wires":[["5469e908.68cf68"]]},{"id":"5469e908.68cf68","type":"switch","z":"3a0652df.04832e","name":"","property":"payload.w","propertyType":"msg","rules":[{"t":"lt","v":"payload.wind","vt":"msg"},{"t":"gte","v":"payload.wind","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":2230,"y":2080,"wires":[["b3514d71.2e339","a7f3e52.7a89318"],[]]},{"id":"c1b9a52a.255bb8","type":"ui_toast","z":"3a0652df.04832e","position":"dialog","displayTime":"10","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2590,"y":2080,"wires":[[]]},{"id":"776019c5.e8de48","type":"function","z":"3a0652df.04832e","name":"","func":"A = msg.payload.temp; \nvar newMsg = { payload:\"Warning! temperature is \"+A.toFixed(1)+ \" exceeds the limit by \"+(msg.payload.temp-msg.payload.t).toFixed(1) };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2400,"y":1940,"wires":[["df9ad5a2.270208"]]},{"id":"915f164f.7c8488","type":"function","z":"3a0652df.04832e","name":"","func":"A = msg.payload.pres; \nvar newMsg = { payload:\"Warning! pressure is \"+A.toFixed(1)+ \" exceeds the limit by \"+(msg.payload.pres-msg.payload.p).toFixed(1) };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2400,"y":1980,"wires":[["f91fc02f.f27be"]]},{"id":"9a7e9cf8.e941f","type":"function","z":"3a0652df.04832e","name":"","func":"A = msg.payload.humi; \nvar newMsg = { payload:\"Warning! humidity is \"+A.toFixed(1)+ \" exceeds the limit by \"+(msg.payload.humi-msg.payload.h).toFixed(1) };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2400,"y":2020,"wires":[["d694f259.e5f9e"]]},{"id":"b3514d71.2e339","type":"function","z":"3a0652df.04832e","name":"","func":"A = msg.payload.wind; \nvar newMsg = { payload:\"Warning! wind speed is \"+A.toFixed(1)+ \" exceeds the limit by \"+(msg.payload.wind-msg.payload.w).toFixed(1) };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2400,"y":2060,"wires":[["c1b9a52a.255bb8"]]},{"id":"11024271.4a0c3e","type":"function","z":"3a0652df.04832e","name":"","func":"msg.payload =  [];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2040,"y":1420,"wires":[["d188a88a.e22aa8","d7057c9b.29c3a","a341b37d.74f66"]]},{"id":"a041d804.84ca78","type":"debug","z":"3a0652df.04832e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1570,"y":280,"wires":[]},{"id":"4b1887f5.6b7188","type":"mqtt in","z":"3a0652df.04832e","name":"","topic":"OTopic","qos":"2","datatype":"auto","broker":"92922909.3b5178","x":70,"y":400,"wires":[["ab58c576.ec9ed8","44f26d7f.eb3414"]]},{"id":"fb46ea20.4439e8","type":"mqtt out","z":"3a0652df.04832e","name":"","topic":"ITopic","qos":"","retain":"","broker":"92922909.3b5178","x":730,"y":340,"wires":[]},{"id":"eb55dcb6.2c7d","type":"split","z":"3a0652df.04832e","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":550,"y":460,"wires":[["280d48d0.d8d528"]]},{"id":"ab58c576.ec9ed8","type":"debug","z":"3a0652df.04832e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":280,"wires":[]},{"id":"280d48d0.d8d528","type":"join","z":"3a0652df.04832e","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":710,"y":400,"wires":[["b4bbae70.28092","7deb339d.9cb8ec","1a267d4f.31fc53"]]},{"id":"b4bbae70.28092","type":"function","z":"3a0652df.04832e","name":"","func":"\nlet val1 = msg.payload[0];\n\nreturn {\n    val1\n    \n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":360,"wires":[["c7d3285c.7e0228"]]},{"id":"80ff7c39.12aa6","type":"switch","z":"3a0652df.04832e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"hello world","vt":"str"},{"t":"eq","v":"Access denied","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":430,"y":400,"wires":[["33994410.877f6c"],["cfb50ed4.46ea2","fb46ea20.4439e8"],["eb55dcb6.2c7d"]]},{"id":"33994410.877f6c","type":"debug","z":"3a0652df.04832e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":240,"wires":[]},{"id":"7deb339d.9cb8ec","type":"function","z":"3a0652df.04832e","name":"","func":"\nlet val2 = msg.payload[1];\n\nreturn {\n    val2\n    \n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":440,"wires":[["941a85b5.3d8f78","a4f5eed1.e7249"]]},{"id":"941a85b5.3d8f78","type":"switch","z":"3a0652df.04832e","name":"","property":"val2","propertyType":"msg","rules":[{"t":"regex","v":"^[+-]?\\d+$","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1010,"y":440,"wires":[["9ebe9514.833b68"],["e14c7ef8.8739c","688df7b6.cddcb8"]]},{"id":"c7d3285c.7e0228","type":"switch","z":"3a0652df.04832e","name":"","property":"val1","propertyType":"msg","rules":[{"t":"regex","v":"^[+-]?\\d+$","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1010,"y":360,"wires":[["c350e46b.04aaf8","7c2395ef.4d440c"],["9fed2d84.66f74","53dea81f.72c068"]]},{"id":"a8ac11f7.227f8","type":"inject","z":"3a0652df.04832e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"jaffna,sri lanka","payloadType":"str","x":110,"y":500,"wires":[["44f26d7f.eb3414"]]},{"id":"3a5e3cab.0806e4","type":"inject","z":"3a0652df.04832e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"123,21","payloadType":"str","x":90,"y":580,"wires":[["44f26d7f.eb3414"]]},{"id":"875e0e2b.d175f","type":"inject","z":"3a0652df.04832e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello world","payloadType":"str","x":100,"y":640,"wires":[["44f26d7f.eb3414"]]},{"id":"1a267d4f.31fc53","type":"debug","z":"3a0652df.04832e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":520,"wires":[]},{"id":"e14c7ef8.8739c","type":"debug","z":"3a0652df.04832e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"val2","targetType":"msg","statusVal":"","statusType":"auto","x":1180,"y":540,"wires":[]},{"id":"44f26d7f.eb3414","type":"function","z":"3a0652df.04832e","name":"control","func":"if (msg.topic === \"gate\") {\n    context.pass = (msg.payload === true) ? true : false;\n    return null;  // exit out early as it's just the control\n}\nif (context.pass=== true) {\n    return msg; // if enabled pass msg\n}\nelse ; {\n    var newMsg = { payload:\"Access denied\"};\n    return newMsg; // if enabled pass msg\n}\n\n//(context.pass=== false)\n//return null; // or drop it","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":400,"wires":[["80ff7c39.12aa6"]]},{"id":"cfb50ed4.46ea2","type":"debug","z":"3a0652df.04832e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":560,"wires":[]},{"id":"7c2395ef.4d440c","type":"function","z":"3a0652df.04832e","name":"","func":"let payload = \"F\";\n\nreturn {\n    payload\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":260,"wires":[["d809deed.a0116"]]},{"id":"688df7b6.cddcb8","type":"function","z":"3a0652df.04832e","name":"","func":"\nlet payload = msg.val2;\n\nreturn {\n    payload\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":500,"wires":[["5dba128.d2ae8ec"]]},{"id":"9ebe9514.833b68","type":"function","z":"3a0652df.04832e","name":"","func":"\nlet payload = msg.val2;\n\nreturn {\n    payload\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":440,"wires":[["5dba128.d2ae8ec"]]},{"id":"c350e46b.04aaf8","type":"function","z":"3a0652df.04832e","name":"","func":"\nlet payload = msg.val1;\n\nreturn {\n    payload\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":300,"wires":[["75fe0901.057768"]]},{"id":"9fed2d84.66f74","type":"function","z":"3a0652df.04832e","name":"","func":"\nlet payload = msg.val1;\n\nreturn {\n    payload\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":400,"wires":[["75fe0901.057768"]]},{"id":"53dea81f.72c068","type":"function","z":"3a0652df.04832e","name":"","func":"let payload = \"T\";\n\nreturn {\n    payload\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":360,"wires":[["d809deed.a0116"]]},{"id":"a4f5eed1.e7249","type":"trigger","z":"3a0652df.04832e","name":"","op1":"","op2":"0","op1type":"date","op2type":"str","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":1160,"y":620,"wires":[[],["eb97bc7e.0c621","b94d1e9d.12fab"]]},{"id":"b94d1e9d.12fab","type":"debug","z":"3a0652df.04832e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":700,"wires":[]},{"id":"12fd1c1f.78c824","type":"debug","z":"3a0652df.04832e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2090,"y":660,"wires":[]},{"id":"b83d6227.622d9","type":"debug","z":"3a0652df.04832e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1940,"y":300,"wires":[]},{"id":"2e0acd0a.67c222","type":"debug","z":"3a0652df.04832e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1910,"y":520,"wires":[]},{"id":"5dba128.d2ae8ec","type":"ui_text_input","z":"3a0652df.04832e","name":"","label":"country / latitude","tooltip":"","group":"d1322d3a.5cf3b","order":4,"width":4,"height":1,"passthru":true,"mode":"text","delay":"0","topic":"B","x":1740,"y":460,"wires":[["3d59879b.6c83f8","2e0acd0a.67c222"]]},{"id":"991a5f65.fd32e","type":"trigger","z":"3a0652df.04832e","name":"","op1":"","op2":"","op1type":"nul","op2type":"date","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1320,"y":800,"wires":[["d52b66f.4c12b98"]]},{"id":"2f61d968.1170e6","type":"mqtt out","z":"3a0652df.04832e","name":"","topic":"ITopic","qos":"","retain":"","broker":"92922909.3b5178","x":2590,"y":1760,"wires":[]},{"id":"c6b164e1.cec238","type":"trigger","z":"3a0652df.04832e","name":"","op1":"","op2":"","op1type":"nul","op2type":"date","duration":"1","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1580,"y":600,"wires":[["2a6e09dd.ad82c6","f70e9102.4aca4"]]},{"id":"b09f22b2.ef38b","type":"ui_switch","z":"3a0652df.04832e","name":"","label":"Remote control","tooltip":"","group":"d1322d3a.5cf3b","order":2,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"gate","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":100,"y":280,"wires":[["44f26d7f.eb3414"]]},{"id":"f70e9102.4aca4","type":"change","z":"3a0652df.04832e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"selected1.description","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":640,"wires":[["c061498.23038b8"]]},{"id":"c061498.23038b8","type":"ui_text","z":"3a0652df.04832e","group":"a002c75f.5e7228","order":2,"width":4,"height":2,"name":"Description","label":"","format":"{{msg.payload}}","layout":"row-center","x":1930,"y":640,"wires":[]},{"id":"d7057c9b.29c3a","type":"ui_chart","z":"3a0652df.04832e","name":"","group":"164c5aec.768575","order":2,"width":16,"height":8,"label":"Wind Speed","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2230,"y":1460,"wires":[["a75a2af.cf206d8"]]},{"id":"a341b37d.74f66","type":"ui_chart","z":"3a0652df.04832e","name":"","group":"164c5aec.768575","order":3,"width":16,"height":8,"label":"Temperature","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2230,"y":1380,"wires":[["a75a2af.cf206d8"]]},{"id":"6c3f8031.8aac3","type":"ui_button","z":"3a0652df.04832e","name":"","group":"164c5aec.768575","order":4,"width":16,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"","x":1890,"y":1420,"wires":[["11024271.4a0c3e"]]},{"id":"6996b74e.683088","type":"ui_numeric","z":"3a0652df.04832e","name":"","label":"Update Interval (Seconds)","tooltip":"","group":"4fffcb4a.478234","order":2,"width":8,"height":1,"wrap":false,"passthru":false,"topic":"","format":"{{value}}","min":"1","max":"100","step":1,"x":1570,"y":960,"wires":[["1840d4fc.85460b"]]},{"id":"efbc19d4.3a9ca8","type":"function","z":"3a0652df.04832e","name":"","func":"let pressure = msg.payload;\n\nvar newMsg = { payload:pressure/1013.25}\nreturn newMsg // if enabled pass msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2220,"y":1040,"wires":[["17234ec.1d789b1","9b5110cf.51448"]]},{"id":"cd654c96.d1dcf","type":"function","z":"3a0652df.04832e","name":"","func":"A = msg.payload.temp; \nvar newMsg = { payload:\"t\"+(msg.payload.temp-msg.payload.t)};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2380,"y":1720,"wires":[["2f61d968.1170e6"]]},{"id":"efd8e79a.136e18","type":"function","z":"3a0652df.04832e","name":"","func":"A = msg.payload.humi; \nvar newMsg = { payload:\"h\"+(msg.payload.humi-msg.payload.h)};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2380,"y":1800,"wires":[["2f61d968.1170e6"]]},{"id":"a7f3e52.7a89318","type":"function","z":"3a0652df.04832e","name":"","func":"A = msg.payload.wind; \nvar newMsg = { payload:\"w\"+(msg.payload.wind-msg.payload.w)};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2380,"y":1840,"wires":[["2f61d968.1170e6"]]},{"id":"be7eddd.74a592","type":"function","z":"3a0652df.04832e","name":"","func":"A = msg.payload.pres; \nvar newMsg = { payload:\"p\"+(msg.payload.pres-msg.payload.p)};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2380,"y":1760,"wires":[["2f61d968.1170e6"]]},{"id":"d1322d3a.5cf3b","type":"ui_group","name":"Inputs","tab":"f839eb9e.4dd488","order":1,"disp":false,"width":4,"collapse":false},{"id":"4fffcb4a.478234","type":"ui_group","name":"Input method","tab":"f657433a.03124","order":1,"disp":true,"width":10,"collapse":false},{"id":"81358240.6f20f","type":"ui_group","name":"Wind","tab":"f839eb9e.4dd488","order":5,"disp":true,"width":6,"collapse":false},{"id":"8e487881.7664e8","type":"ui_group","name":"Temperature","tab":"f839eb9e.4dd488","order":4,"disp":true,"width":4,"collapse":false},{"id":"a002c75f.5e7228","type":"ui_group","name":"Description","tab":"f839eb9e.4dd488","order":3,"disp":true,"width":"6","collapse":false},{"id":"9de85e.ade327a","type":"ui_group","name":"Humidity","tab":"f839eb9e.4dd488","order":6,"disp":true,"width":5,"collapse":false},{"id":"6317eb87.ae11a4","type":"ui_group","name":"Pressure","tab":"f839eb9e.4dd488","order":7,"disp":true,"width":5,"collapse":false},{"id":"164c5aec.768575","type":"ui_group","name":"past hour plot","tab":"b9b45f6f.fc2d2","order":4,"disp":false,"width":"16","collapse":false},{"id":"b37c0d8c.9b908","type":"ui_group","name":"Charts","tab":"f657433a.03124","order":2,"disp":true,"width":"6","collapse":false},{"id":"a588de01.cc2ec","type":"ui_group","name":"Warning Limits","tab":"f839eb9e.4dd488","order":2,"disp":true,"width":"6","collapse":false},{"id":"92922909.3b5178","type":"mqtt-broker","name":"","broker":"http://test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f839eb9e.4dd488","type":"ui_tab","name":"Weather","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"f657433a.03124","type":"ui_tab","name":"Settings","icon":"dashboard","disabled":false,"hidden":false},{"id":"b9b45f6f.fc2d2","type":"ui_tab","name":"Charts","icon":"dashboard","disabled":false,"hidden":false}]